rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return exists(/databases/$(database)/documents/admins/$(request.auth.uid));
    }

    match /{document=**} {
      allow read: if isAdmin();
    }

    match /configs/{configId} {
      allow write: if isAdmin();
      allow read: if true;
    }

    match /users/{userId} {
      allow read, write: if request.auth.uid == userId;
    }

    match /answers/{answerId} {
      allow create: if request.resource.data.userId == request.auth.uid;
      allow read: if resource.data.userId == request.auth.uid;
    }
  }
}